# Laravel
backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/bootstrap/cache/*.php

# React
frontend/node_modules/
frontend/dist/

# Docker / sistema
*.log
.DS_Store
Thumbs.db

# VS Code opcional
.vscode/
